<div id="container">

<h1 id="title">Eat-Da-Burger!</h1>

{{!-- <img src="../assets/images/burger.jpg" alt="burger"> --}}
 <br>
 <br>
 <br>
<div id="burgers">
<div id="notEaten">
<h4 class="name">Burgers not eaten:</h4>


<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{!-- <p><span class="label">ID:</span> {{this.id}}</p> --}}
      <p><span class="label"></span>{{this.id}}. {{this.burger_name}}
      <button type="submit" class="btn btn-primary metal" data-id="{{this.id}}" data-burg="{{this.burger_name}}" id="delburger">Devour</button></p>
    {{/unless}}
     
  {{/each}}
</ul>
</div>


<div id="devoured">
<h4 class="name">Burgers devoured:</h4>

<ul>
  {{#each burgers}}
    {{#if devoured}}
    {{!-- <p><span class="label">ID:</span> {{this.id}}</p> --}}
    <p><span class="label"></span> {{this.id}}. {{this.burger_name}}</p>
    {{/if}}
  {{/each}}
</ul>
</div>
</div>


<form class="create-form">

  <div class="form-group" >
    <label for="burger"></label>
    <textarea id="burger" name="burger" rows="3" cols="45"></textarea>
  </div>

  <button type="submit" class="btn btn-primary metal" id="submit">Submit</button>
  <h3 class="name">Enter a burger you want to eat and click the Submit button!</h3>
</form>
</div>

